# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
.venv/
venv/
*.egg-info/
dist/
build/
.pytest_cache/
.mypy_cache/

# Environment
.env
*.env.local

# Node / Angular
node_modules/
dist/
.angular/
*.js.map

# Docker volumes
pgdata/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
